.skills-image {
    width: 800px; 
    height: auto; 
    display: block;
    margin: 0 auto;
    padding-bottom: 80px;
}

.heading {
    text-align: center;
    padding-top: 50px;
    font-size: 35px;
}