.a{
    height: auto;
    display: flex;
}

.a-title{
    font-weight: 400;
    border-bottom: 5px solid darkblue ;
    width:fit-content;
}

.a-sub{
    margin: 20px 0px;
}

.a-desc{
    font-weight: 300;
} 

