.a{
    height: auto;
    display: flex;
    max-width: 80%;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.a-title{
    font-weight: 400;
    border-bottom: 5px solid darkblue ;
    width:fit-content;
}

.a-sub{
    margin: 20px 0px;
}

.a-desc{
    font-weight: 300;
    column-count: 2;
    column-gap: 30px;
} 

