.a{
    height: auto;
    display: flex;
    max-width: 80%;
    align-items: flex-start;
    margin: 0 auto;
}

.a-title{
    font-weight: 400;
    /* border-bottom: 5px solid darkgreen ; */
    width:fit-content;
}

.a-sub{
    margin: 20px 0px;
}

.a-desc{
    font-weight: 300;
    column-count: 2;
    column-gap: 30px;
} 

/* Reset margin and padding to make both columns start on the same line  */
.a-desc > *:first-child {
    margin-top: 0;
    padding-top: 0;
}
