.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
  }
  
  .logo img {
    height: 50px;
  }
  
  .nav-links {
    display: flex;
    justify-content: center;
    /* width: 50%; */
  }
  
  .nav-links a {
    margin: 0 10px;
    text-decoration: none;
    color: black; 
    font-size: 20px;
  }
  
 
  