.i{
    display: flex;
    height: 100vh;

}

.i-left{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
}



.i-wrapper{
    padding: 50px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.i-intro{
    font-size: 30px;
    font-weight: 300;
}

.i-name{
    font-size: 60px;
}

.i-title-item{
    font-size: 40px;
}

.i-title-text{
    font-size: 40px;
}